body {
  background: #f4f4f4;
  line-height: 90px;
}
p {
  font-size: 3em;
}
.primary-text {
  font-color: red;
}
.btn,
.primary-btn {
  pading: 10px 15px;
  border: 5px solid black ;
  font-size: 25px;
  border-radius: 40px;
}
.primary-btn {
  background: #20b2AA;
}
.bordered,
.primary-btn {
  border-top: dotted 5px orange;
  border-bottom: dotted 5px green;
}
h2 {
  border-top: dotted 5px orange;
  border-bottom: dotted 5px green;
}
h3 {
  border-top: dotted 5px orange;
  border-bottom: dotted 5px green;
}
ul#lists {
  list-style: none;
}
ul#lists li {
  padding: 10px;
  margin: 4px;
  color: red;
}
ul#lists li a {
  color: #20b2AA;
}
ul#lists li a:hover {
  color: orange;
}
